@tailwind base;
@tailwind components;
@tailwind utilities;


.classImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 20px;
}

.drawer-side a.active{
color: rgb(255, 28, 28);
background-color: transparent;

}
